<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
  <clear />
  <add key="Escala" value="16" />
  <add key="EscalaX" value="2" />
  <add key="EscalaY" value="2" />
  <add key="Enlace0_ID1" value="1" />
  <add key="Enlace0_ID2" value="2" />
  <add key="Enlace0_RUTA" value="False" />
  <add key="Enlace0_DIST" value="116,043095443029" />
  <add key="Enlace1_ID1" value="2" />
  <add key="Enlace1_ID2" value="1" />
  <add key="Enlace1_RUTA" value="False" />
  <add key="Enlace1_DIST" value="116,043095443029" />
  <add key="Enlace2_ID1" value="2" />
  <add key="Enlace2_ID2" value="3" />
  <add key="Enlace2_RUTA" value="True" />
  <add key="Enlace2_DIST" value="78,7210264160726" />
  <add key="Enlace3_ID1" value="3" />
  <add key="Enlace3_ID2" value="2" />
  <add key="Enlace3_RUTA" value="True" />
  <add key="Enlace3_DIST" value="78,7210264160726" />
  <add key="Enlace4_ID1" value="3" />
  <add key="Enlace4_ID2" value="16" />
  <add key="Enlace4_RUTA" value="True" />
  <add key="Enlace4_DIST" value="121,753850041795" />
  <add key="Enlace5_ID1" value="16" />
  <add key="Enlace5_ID2" value="3" />
  <add key="Enlace5_RUTA" value="True" />
  <add key="Enlace5_DIST" value="121,753850041795" />
  <add key="Enlace6_ID1" value="16" />
  <add key="Enlace6_ID2" value="14" />
  <add key="Enlace6_RUTA" value="False" />
  <add key="Enlace6_DIST" value="30,4795013082563" />
  <add key="Enlace7_ID1" value="14" />
  <add key="Enlace7_ID2" value="16" />
  <add key="Enlace7_RUTA" value="False" />
  <add key="Enlace7_DIST" value="30,4795013082563" />
  <add key="Enlace8_ID1" value="16" />
  <add key="Enlace8_ID2" value="15" />
  <add key="Enlace8_RUTA" value="True" />
  <add key="Enlace8_DIST" value="58,6003412959344" />
  <add key="Enlace9_ID1" value="15" />
  <add key="Enlace9_ID2" value="16" />
  <add key="Enlace9_RUTA" value="True" />
  <add key="Enlace9_DIST" value="58,6003412959344" />
  <add key="Enlace10_ID1" value="14" />
  <add key="Enlace10_ID2" value="15" />
  <add key="Enlace10_RUTA" value="False" />
  <add key="Enlace10_DIST" value="73,0273921210391" />
  <add key="Enlace11_ID1" value="15" />
  <add key="Enlace11_ID2" value="14" />
  <add key="Enlace11_RUTA" value="False" />
  <add key="Enlace11_DIST" value="73,0273921210391" />
  <add key="Enlace12_ID1" value="14" />
  <add key="Enlace12_ID2" value="13" />
  <add key="Enlace12_RUTA" value="False" />
  <add key="Enlace12_DIST" value="85,0235261559999" />
  <add key="Enlace13_ID1" value="13" />
  <add key="Enlace13_ID2" value="14" />
  <add key="Enlace13_RUTA" value="False" />
  <add key="Enlace13_DIST" value="85,0235261559999" />
  <add key="Enlace14_ID1" value="13" />
  <add key="Enlace14_ID2" value="12" />
  <add key="Enlace14_RUTA" value="False" />
  <add key="Enlace14_DIST" value="86,7006343690748" />
  <add key="Enlace15_ID1" value="12" />
  <add key="Enlace15_ID2" value="13" />
  <add key="Enlace15_RUTA" value="False" />
  <add key="Enlace15_DIST" value="86,7006343690748" />
  <add key="Enlace16_ID1" value="12" />
  <add key="Enlace16_ID2" value="11" />
  <add key="Enlace16_RUTA" value="False" />
  <add key="Enlace16_DIST" value="34,7131099154196" />
  <add key="Enlace17_ID1" value="11" />
  <add key="Enlace17_ID2" value="12" />
  <add key="Enlace17_RUTA" value="False" />
  <add key="Enlace17_DIST" value="34,7131099154196" />
  <add key="Enlace18_ID1" value="11" />
  <add key="Enlace18_ID2" value="10" />
  <add key="Enlace18_RUTA" value="False" />
  <add key="Enlace18_DIST" value="70,2566722810012" />
  <add key="Enlace19_ID1" value="10" />
  <add key="Enlace19_ID2" value="11" />
  <add key="Enlace19_RUTA" value="False" />
  <add key="Enlace19_DIST" value="70,2566722810012" />
  <add key="Enlace20_ID1" value="10" />
  <add key="Enlace20_ID2" value="9" />
  <add key="Enlace20_RUTA" value="False" />
  <add key="Enlace20_DIST" value="42,7200187265877" />
  <add key="Enlace21_ID1" value="9" />
  <add key="Enlace21_ID2" value="10" />
  <add key="Enlace21_RUTA" value="False" />
  <add key="Enlace21_DIST" value="42,7200187265877" />
  <add key="Enlace22_ID1" value="9" />
  <add key="Enlace22_ID2" value="6" />
  <add key="Enlace22_RUTA" value="False" />
  <add key="Enlace22_DIST" value="140,60227594175" />
  <add key="Enlace23_ID1" value="6" />
  <add key="Enlace23_ID2" value="9" />
  <add key="Enlace23_RUTA" value="False" />
  <add key="Enlace23_DIST" value="140,60227594175" />
  <add key="Enlace24_ID1" value="6" />
  <add key="Enlace24_ID2" value="5" />
  <add key="Enlace24_RUTA" value="False" />
  <add key="Enlace24_DIST" value="119,707978013163" />
  <add key="Enlace25_ID1" value="5" />
  <add key="Enlace25_ID2" value="6" />
  <add key="Enlace25_RUTA" value="False" />
  <add key="Enlace25_DIST" value="119,707978013163" />
  <add key="Enlace26_ID1" value="5" />
  <add key="Enlace26_ID2" value="4" />
  <add key="Enlace26_RUTA" value="True" />
  <add key="Enlace26_DIST" value="75,9605160593318" />
  <add key="Enlace27_ID1" value="4" />
  <add key="Enlace27_ID2" value="5" />
  <add key="Enlace27_RUTA" value="True" />
  <add key="Enlace27_DIST" value="75,9605160593318" />
  <add key="Enlace28_ID1" value="4" />
  <add key="Enlace28_ID2" value="2" />
  <add key="Enlace28_RUTA" value="True" />
  <add key="Enlace28_DIST" value="69,2026011071838" />
  <add key="Enlace29_ID1" value="2" />
  <add key="Enlace29_ID2" value="4" />
  <add key="Enlace29_RUTA" value="True" />
  <add key="Enlace29_DIST" value="69,2026011071838" />
  <add key="Enlace30_ID1" value="5" />
  <add key="Enlace30_ID2" value="17" />
  <add key="Enlace30_RUTA" value="True" />
  <add key="Enlace30_DIST" value="81,344944526381" />
  <add key="Enlace31_ID1" value="17" />
  <add key="Enlace31_ID2" value="5" />
  <add key="Enlace31_RUTA" value="True" />
  <add key="Enlace31_DIST" value="81,344944526381" />
  <add key="Enlace32_ID1" value="17" />
  <add key="Enlace32_ID2" value="18" />
  <add key="Enlace32_RUTA" value="True" />
  <add key="Enlace32_DIST" value="86,5332306111358" />
  <add key="Enlace33_ID1" value="18" />
  <add key="Enlace33_ID2" value="17" />
  <add key="Enlace33_RUTA" value="True" />
  <add key="Enlace33_DIST" value="86,5332306111358" />
  <add key="Enlace34_ID1" value="18" />
  <add key="Enlace34_ID2" value="19" />
  <add key="Enlace34_RUTA" value="True" />
  <add key="Enlace34_DIST" value="66,6483308118065" />
  <add key="Enlace35_ID1" value="19" />
  <add key="Enlace35_ID2" value="18" />
  <add key="Enlace35_RUTA" value="True" />
  <add key="Enlace35_DIST" value="66,6483308118065" />
  <add key="Enlace36_ID1" value="19" />
  <add key="Enlace36_ID2" value="20" />
  <add key="Enlace36_RUTA" value="True" />
  <add key="Enlace36_DIST" value="66,8505796534331" />
  <add key="Enlace37_ID1" value="20" />
  <add key="Enlace37_ID2" value="19" />
  <add key="Enlace37_RUTA" value="True" />
  <add key="Enlace37_DIST" value="66,8505796534331" />
  <add key="Enlace38_ID1" value="20" />
  <add key="Enlace38_ID2" value="21" />
  <add key="Enlace38_RUTA" value="True" />
  <add key="Enlace38_DIST" value="110,145358504115" />
  <add key="Enlace39_ID1" value="21" />
  <add key="Enlace39_ID2" value="20" />
  <add key="Enlace39_RUTA" value="True" />
  <add key="Enlace39_DIST" value="110,145358504115" />
  <add key="Enlace40_ID1" value="6" />
  <add key="Enlace40_ID2" value="7" />
  <add key="Enlace40_RUTA" value="False" />
  <add key="Enlace40_DIST" value="126,495059192049" />
  <add key="Enlace41_ID1" value="7" />
  <add key="Enlace41_ID2" value="6" />
  <add key="Enlace41_RUTA" value="False" />
  <add key="Enlace41_DIST" value="126,495059192049" />
  <add key="Enlace42_ID1" value="7" />
  <add key="Enlace42_ID2" value="8" />
  <add key="Enlace42_RUTA" value="False" />
  <add key="Enlace42_DIST" value="70,2139587261678" />
  <add key="Enlace43_ID1" value="8" />
  <add key="Enlace43_ID2" value="7" />
  <add key="Enlace43_RUTA" value="False" />
  <add key="Enlace43_DIST" value="70,2139587261678" />
  <add key="Enlace_NUM" value="44" />
  <add key="Nodo0_X" value="207" />
  <add key="Nodo0_Y" value="442" />
  <add key="Nodo0_ID" value="1" />
  <add key="Nodo1_X" value="286" />
  <add key="Nodo1_Y" value="357" />
  <add key="Nodo1_ID" value="2" />
  <add key="Nodo2_X" value="252" />
  <add key="Nodo2_Y" value="286" />
  <add key="Nodo2_ID" value="3" />
  <add key="Nodo3_X" value="341" />
  <add key="Nodo3_Y" value="315" />
  <add key="Nodo3_ID" value="4" />
  <add key="Nodo4_X" value="414" />
  <add key="Nodo4_Y" value="294" />
  <add key="Nodo4_ID" value="5" />
  <add key="Nodo5_X" value="533" />
  <add key="Nodo5_Y" value="281" />
  <add key="Nodo5_ID" value="6" />
  <add key="Nodo6_X" value="657" />
  <add key="Nodo6_Y" value="256" />
  <add key="Nodo6_ID" value="7" />
  <add key="Nodo7_X" value="720" />
  <add key="Nodo7_Y" value="225" />
  <add key="Nodo7_ID" value="8" />
  <add key="Nodo8_X" value="546" />
  <add key="Nodo8_Y" value="141" />
  <add key="Nodo8_ID" value="9" />
  <add key="Nodo9_X" value="506" />
  <add key="Nodo9_Y" value="156" />
  <add key="Nodo9_ID" value="10" />
  <add key="Nodo10_X" value="436" />
  <add key="Nodo10_Y" value="162" />
  <add key="Nodo10_ID" value="11" />
  <add key="Nodo11_X" value="413" />
  <add key="Nodo11_Y" value="136" />
  <add key="Nodo11_ID" value="12" />
  <add key="Nodo12_X" value="327" />
  <add key="Nodo12_Y" value="147" />
  <add key="Nodo12_ID" value="13" />
  <add key="Nodo13_X" value="242" />
  <add key="Nodo13_Y" value="145" />
  <add key="Nodo13_ID" value="14" />
  <add key="Nodo14_X" value="169" />
  <add key="Nodo14_Y" value="143" />
  <add key="Nodo14_ID" value="15" />
  <add key="Nodo15_X" value="222" />
  <add key="Nodo15_Y" value="168" />
  <add key="Nodo15_ID" value="16" />
  <add key="Nodo16_X" value="490" />
  <add key="Nodo16_Y" value="323" />
  <add key="Nodo16_ID" value="17" />
  <add key="Nodo17_X" value="562" />
  <add key="Nodo17_Y" value="371" />
  <add key="Nodo17_ID" value="18" />
  <add key="Nodo18_X" value="593" />
  <add key="Nodo18_Y" value="430" />
  <add key="Nodo18_ID" value="19" />
  <add key="Nodo19_X" value="531" />
  <add key="Nodo19_Y" value="455" />
  <add key="Nodo19_ID" value="20" />
  <add key="Nodo20_X" value="435" />
  <add key="Nodo20_Y" value="509" />
  <add key="Nodo20_ID" value="21" />
  <add key="Nodo_NUM" value="21" />
  <add key="Obstaculo0_P1_X" value="344" />
  <add key="Obstaculo0_P1_Y" value="382" />
  <add key="Obstaculo0_P2_X" value="536" />
  <add key="Obstaculo0_P2_Y" value="384" />
  <add key="Obstaculo1_P1_X" value="536" />
  <add key="Obstaculo1_P1_Y" value="384" />
  <add key="Obstaculo1_P2_X" value="537" />
  <add key="Obstaculo1_P2_Y" value="433" />
  <add key="Obstaculo2_P1_X" value="537" />
  <add key="Obstaculo2_P1_Y" value="433" />
  <add key="Obstaculo2_P2_X" value="344" />
  <add key="Obstaculo2_P2_Y" value="432" />
  <add key="Obstaculo3_P1_X" value="344" />
  <add key="Obstaculo3_P1_Y" value="432" />
  <add key="Obstaculo3_P2_X" value="344" />
  <add key="Obstaculo3_P2_Y" value="382" />
  <add key="Obstaculo4_P1_X" value="270" />
  <add key="Obstaculo4_P1_Y" value="449" />
  <add key="Obstaculo4_P2_X" value="331" />
  <add key="Obstaculo4_P2_Y" value="448" />
  <add key="Obstaculo5_P1_X" value="331" />
  <add key="Obstaculo5_P1_Y" value="448" />
  <add key="Obstaculo5_P2_X" value="332" />
  <add key="Obstaculo5_P2_Y" value="592" />
  <add key="Obstaculo6_P1_X" value="332" />
  <add key="Obstaculo6_P1_Y" value="592" />
  <add key="Obstaculo6_P2_X" value="262" />
  <add key="Obstaculo6_P2_Y" value="591" />
  <add key="Obstaculo7_P1_X" value="262" />
  <add key="Obstaculo7_P1_Y" value="591" />
  <add key="Obstaculo7_P2_X" value="270" />
  <add key="Obstaculo7_P2_Y" value="449" />
  <add key="Obstaculo8_P1_X" value="168" />
  <add key="Obstaculo8_P1_Y" value="563" />
  <add key="Obstaculo8_P2_X" value="251" />
  <add key="Obstaculo8_P2_Y" value="567" />
  <add key="Obstaculo9_P1_X" value="251" />
  <add key="Obstaculo9_P1_Y" value="567" />
  <add key="Obstaculo9_P2_X" value="254" />
  <add key="Obstaculo9_P2_Y" value="605" />
  <add key="Obstaculo10_P1_X" value="254" />
  <add key="Obstaculo10_P1_Y" value="605" />
  <add key="Obstaculo10_P2_X" value="159" />
  <add key="Obstaculo10_P2_Y" value="608" />
  <add key="Obstaculo11_P1_X" value="159" />
  <add key="Obstaculo11_P1_Y" value="608" />
  <add key="Obstaculo11_P2_X" value="168" />
  <add key="Obstaculo11_P2_Y" value="563" />
  <add key="Obstaculo12_P1_X" value="531" />
  <add key="Obstaculo12_P1_Y" value="479" />
  <add key="Obstaculo12_P2_X" value="564" />
  <add key="Obstaculo12_P2_Y" value="479" />
  <add key="Obstaculo13_P1_X" value="564" />
  <add key="Obstaculo13_P1_Y" value="479" />
  <add key="Obstaculo13_P2_X" value="566" />
  <add key="Obstaculo13_P2_Y" value="559" />
  <add key="Obstaculo14_P1_X" value="566" />
  <add key="Obstaculo14_P1_Y" value="559" />
  <add key="Obstaculo14_P2_X" value="534" />
  <add key="Obstaculo14_P2_Y" value="559" />
  <add key="Obstaculo15_P1_X" value="534" />
  <add key="Obstaculo15_P1_Y" value="559" />
  <add key="Obstaculo15_P2_X" value="531" />
  <add key="Obstaculo15_P2_Y" value="479" />
  <add key="Obstaculo16_P1_X" value="597" />
  <add key="Obstaculo16_P1_Y" value="331" />
  <add key="Obstaculo16_P2_X" value="598" />
  <add key="Obstaculo16_P2_Y" value="358" />
  <add key="Obstaculo17_P1_X" value="598" />
  <add key="Obstaculo17_P1_Y" value="358" />
  <add key="Obstaculo17_P2_X" value="642" />
  <add key="Obstaculo17_P2_Y" value="359" />
  <add key="Obstaculo18_P1_X" value="642" />
  <add key="Obstaculo18_P1_Y" value="359" />
  <add key="Obstaculo18_P2_X" value="645" />
  <add key="Obstaculo18_P2_Y" value="331" />
  <add key="Obstaculo19_P1_X" value="645" />
  <add key="Obstaculo19_P1_Y" value="331" />
  <add key="Obstaculo19_P2_X" value="597" />
  <add key="Obstaculo19_P2_Y" value="331" />
  <add key="Obstaculo20_P1_X" value="114" />
  <add key="Obstaculo20_P1_Y" value="74" />
  <add key="Obstaculo20_P2_X" value="113" />
  <add key="Obstaculo20_P2_Y" value="166" />
  <add key="Obstaculo21_P1_X" value="113" />
  <add key="Obstaculo21_P1_Y" value="166" />
  <add key="Obstaculo21_P2_X" value="52" />
  <add key="Obstaculo21_P2_Y" value="164" />
  <add key="Obstaculo22_P1_X" value="52" />
  <add key="Obstaculo22_P1_Y" value="164" />
  <add key="Obstaculo22_P2_X" value="54" />
  <add key="Obstaculo22_P2_Y" value="67" />
  <add key="Obstaculo23_P1_X" value="54" />
  <add key="Obstaculo23_P1_Y" value="67" />
  <add key="Obstaculo23_P2_X" value="114" />
  <add key="Obstaculo23_P2_Y" value="74" />
  <add key="Obstaculo24_P1_X" value="148" />
  <add key="Obstaculo24_P1_Y" value="172" />
  <add key="Obstaculo24_P2_X" value="52" />
  <add key="Obstaculo24_P2_Y" value="173" />
  <add key="Obstaculo25_P1_X" value="52" />
  <add key="Obstaculo25_P1_Y" value="173" />
  <add key="Obstaculo25_P2_X" value="54" />
  <add key="Obstaculo25_P2_Y" value="311" />
  <add key="Obstaculo26_P1_X" value="54" />
  <add key="Obstaculo26_P1_Y" value="311" />
  <add key="Obstaculo26_P2_X" value="158" />
  <add key="Obstaculo26_P2_Y" value="312" />
  <add key="Obstaculo27_P1_X" value="158" />
  <add key="Obstaculo27_P1_Y" value="312" />
  <add key="Obstaculo27_P2_X" value="148" />
  <add key="Obstaculo27_P2_Y" value="172" />
  <add key="Obstaculo28_P1_X" value="69" />
  <add key="Obstaculo28_P1_Y" value="335" />
  <add key="Obstaculo28_P2_X" value="221" />
  <add key="Obstaculo28_P2_Y" value="334" />
  <add key="Obstaculo29_P1_X" value="221" />
  <add key="Obstaculo29_P1_Y" value="334" />
  <add key="Obstaculo29_P2_X" value="223" />
  <add key="Obstaculo29_P2_Y" value="241" />
  <add key="Obstaculo30_P1_X" value="223" />
  <add key="Obstaculo30_P1_Y" value="241" />
  <add key="Obstaculo30_P2_X" value="71" />
  <add key="Obstaculo30_P2_Y" value="247" />
  <add key="Obstaculo31_P1_X" value="71" />
  <add key="Obstaculo31_P1_Y" value="247" />
  <add key="Obstaculo31_P2_X" value="69" />
  <add key="Obstaculo31_P2_Y" value="335" />
  <add key="Obstaculo32_P1_X" value="280" />
  <add key="Obstaculo32_P1_Y" value="238" />
  <add key="Obstaculo32_P2_X" value="517" />
  <add key="Obstaculo32_P2_Y" value="238" />
  <add key="Obstaculo33_P1_X" value="517" />
  <add key="Obstaculo33_P1_Y" value="238" />
  <add key="Obstaculo33_P2_X" value="525" />
  <add key="Obstaculo33_P2_Y" value="184" />
  <add key="Obstaculo34_P1_X" value="525" />
  <add key="Obstaculo34_P1_Y" value="184" />
  <add key="Obstaculo34_P2_X" value="281" />
  <add key="Obstaculo34_P2_Y" value="183" />
  <add key="Obstaculo35_P1_X" value="281" />
  <add key="Obstaculo35_P1_Y" value="183" />
  <add key="Obstaculo35_P2_X" value="280" />
  <add key="Obstaculo35_P2_Y" value="238" />
  <add key="Obstaculo36_P1_X" value="579" />
  <add key="Obstaculo36_P1_Y" value="305" />
  <add key="Obstaculo36_P2_X" value="779" />
  <add key="Obstaculo36_P2_Y" value="298" />
  <add key="Obstaculo37_P1_X" value="779" />
  <add key="Obstaculo37_P1_Y" value="298" />
  <add key="Obstaculo37_P2_X" value="780" />
  <add key="Obstaculo37_P2_Y" value="334" />
  <add key="Obstaculo38_P1_X" value="780" />
  <add key="Obstaculo38_P1_Y" value="334" />
  <add key="Obstaculo38_P2_X" value="577" />
  <add key="Obstaculo38_P2_Y" value="331" />
  <add key="Obstaculo39_P1_X" value="577" />
  <add key="Obstaculo39_P1_Y" value="331" />
  <add key="Obstaculo39_P2_X" value="579" />
  <add key="Obstaculo39_P2_Y" value="305" />
  <add key="Obstaculo40_P1_X" value="573" />
  <add key="Obstaculo40_P1_Y" value="193" />
  <add key="Obstaculo40_P2_X" value="633" />
  <add key="Obstaculo40_P2_Y" value="196" />
  <add key="Obstaculo41_P1_X" value="633" />
  <add key="Obstaculo41_P1_Y" value="196" />
  <add key="Obstaculo41_P2_X" value="640" />
  <add key="Obstaculo41_P2_Y" value="62" />
  <add key="Obstaculo42_P1_X" value="640" />
  <add key="Obstaculo42_P1_Y" value="62" />
  <add key="Obstaculo42_P2_X" value="570" />
  <add key="Obstaculo42_P2_Y" value="67" />
  <add key="Obstaculo43_P1_X" value="570" />
  <add key="Obstaculo43_P1_Y" value="67" />
  <add key="Obstaculo43_P2_X" value="573" />
  <add key="Obstaculo43_P2_Y" value="193" />
  <add key="Obstaculo44_P1_X" value="489" />
  <add key="Obstaculo44_P1_Y" value="115" />
  <add key="Obstaculo44_P2_X" value="575" />
  <add key="Obstaculo44_P2_Y" value="120" />
  <add key="Obstaculo45_P1_X" value="575" />
  <add key="Obstaculo45_P1_Y" value="120" />
  <add key="Obstaculo45_P2_X" value="577" />
  <add key="Obstaculo45_P2_Y" value="69" />
  <add key="Obstaculo46_P1_X" value="577" />
  <add key="Obstaculo46_P1_Y" value="69" />
  <add key="Obstaculo46_P2_X" value="482" />
  <add key="Obstaculo46_P2_Y" value="64" />
  <add key="Obstaculo47_P1_X" value="482" />
  <add key="Obstaculo47_P1_Y" value="64" />
  <add key="Obstaculo47_P2_X" value="489" />
  <add key="Obstaculo47_P2_Y" value="115" />
  <add key="Obstaculo48_P1_X" value="459" />
  <add key="Obstaculo48_P1_Y" value="137" />
  <add key="Obstaculo48_P2_X" value="489" />
  <add key="Obstaculo48_P2_Y" value="135" />
  <add key="Obstaculo49_P1_X" value="489" />
  <add key="Obstaculo49_P1_Y" value="135" />
  <add key="Obstaculo49_P2_X" value="488" />
  <add key="Obstaculo49_P2_Y" value="69" />
  <add key="Obstaculo50_P1_X" value="488" />
  <add key="Obstaculo50_P1_Y" value="69" />
  <add key="Obstaculo50_P2_X" value="457" />
  <add key="Obstaculo50_P2_Y" value="70" />
  <add key="Obstaculo51_P1_X" value="457" />
  <add key="Obstaculo51_P1_Y" value="70" />
  <add key="Obstaculo51_P2_X" value="459" />
  <add key="Obstaculo51_P2_Y" value="137" />
  <add key="Obstaculo52_P1_X" value="308" />
  <add key="Obstaculo52_P1_Y" value="102" />
  <add key="Obstaculo52_P2_X" value="454" />
  <add key="Obstaculo52_P2_Y" value="101" />
  <add key="Obstaculo53_P1_X" value="454" />
  <add key="Obstaculo53_P1_Y" value="101" />
  <add key="Obstaculo53_P2_X" value="457" />
  <add key="Obstaculo53_P2_Y" value="70" />
  <add key="Obstaculo54_P1_X" value="313" />
  <add key="Obstaculo54_P1_Y" value="73" />
  <add key="Obstaculo54_P2_X" value="308" />
  <add key="Obstaculo54_P2_Y" value="102" />
  <add key="Obstaculo55_P1_X" value="123" />
  <add key="Obstaculo55_P1_Y" value="99" />
  <add key="Obstaculo55_P2_X" value="308" />
  <add key="Obstaculo55_P2_Y" value="102" />
  <add key="Obstaculo56_P1_X" value="305" />
  <add key="Obstaculo56_P1_Y" value="57" />
  <add key="Obstaculo56_P2_X" value="123" />
  <add key="Obstaculo56_P2_Y" value="61" />
  <add key="Obstaculo57_P1_X" value="123" />
  <add key="Obstaculo57_P1_Y" value="61" />
  <add key="Obstaculo57_P2_X" value="123" />
  <add key="Obstaculo57_P2_Y" value="99" />
  <add key="Obstaculo_NUM" value="58" />
  <add key="Baliza0_X" value="223" />
  <add key="Baliza0_Y" value="334" />
  <add key="Baliza0_ID" value="1" />
  <add key="Baliza1_X" value="221" />
  <add key="Baliza1_Y" value="471" />
  <add key="Baliza1_ID" value="2" />
  <add key="Baliza_NUM" value="2" />
 </appSettings>
</configuration>